<script lang="ts">
    /** @type any[] */
    export let url;
    export let articleTitle;
    export let articleDescription;
  
    let articleData = {};
  
    async function fetchArticleData() {
      const response = await fetch(url);
      articleData = await response.json();
    }
  
    fetchArticleData();
  </script>
  
  <article class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-2">{articleTitle}</h2>
    <p class="text-gray-700 text-base">{articleDescription}</p>
    {#if articleData.title}
      <h3 class="text-lg font-bold mt-4">{articleData.title}</h3>
      <p class="text-gray-700 text-base">{articleData.body}</p>
    {:else}
      <p class="text-red-500 mt-4">Ошибка загрузки статьи</p>
    {/if}
  </article>
