<script>
    import Article from './Article.svelte';
  
    const articles = [
      {
        url: '<https://api.example.com/articles/1>',
        articleTitle: 'Статья 1',
        articleDescription: 'Описание статьи 1'
      },
      {
        url: '<https://api.example.com/articles/2>',
        articleTitle: 'Статья 2',
        articleDescription: 'Описание статьи 2'
      }
    ];
  </script>
  
  <main>
    {#each articles as article}
      <Article {url} {articleTitle} {articleDescription} />
    {/each}
  </main>
  